@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 17, 25, 39;
    --background-rgb: 210, 214, 219;
    --primary-rgb: 255, 199, 1;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
}
