{
    "trailingComma": "none",
    "semi": false,
    "tabWidth": 4,
    "singleQuote": true,
    "printWidth": 100,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "plugins": ["prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": ["*.yaml", "*.yml"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ["*.json"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
